<nav class="navbar mila-color-pink-brown" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu is-center">
      <div class="navbar-end">
        <a class="navbar-item">
          Início
        </a>
  
        <a class="navbar-item">
          Sobre mim
        </a>
  
        <div id="drop-menu" class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Marcos do desenvolvimento
            </a>
    
            <div class="navbar-dropdown">
                <a class="navbar-item">
                    0-3 meses
                </a>
                <a class="navbar-item">
                    0-6 meses
                </a>
            </div>
          </div>

        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Condições
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                Marcos do desenvolvimento
            </a>
            <a class="navbar-item">
                0-3 meses
            </a>
            <a class="navbar-item">
                0-6 meses
            </a>
          </div>
        </div> -->
      </div>
  
      <!-- <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </nav>
<router-outlet></router-outlet>
<footer class="footer has-text-centered">
    <div class="columns">
        <div class="column border-right-pink">
          First column
        </div>
        <div class="column border-right-pink">
          Second column
        </div>
        <div class="column border-right-pink">
          Third column
        </div>
        <div class="column">
          Fourth column
        </div>
      </div>

      <div class="content has-text-centered">
        <p>
          Desenvolvido por Jonathas Silveira
        </p>
      </div>
  </footer>