<!--
<div class="menu" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center">
        <div class="buttons">
            <a>Home</a>
        </div>
        <div class="buttons">
            <a>Blog</a>
        </div>
</div>
-->
<div fxLayout fxLayout.xs="column-reverse" fxLayout.sm="column-reverse" fxLayoutAlign="center"
            fxLayoutGap.xs="0" class="banner" fxLayout="row">
    <div id="mila-description" fxFlex="45" fxLayout="column" fxLayoutAlign="center stretch">
        <div id="name">
            Dra. Camila Silveira
        </div>
        <div id="about">
            <h2>
                Tenho formação em medicina e pediatria pela Universidade Federal do Piauí. Além disso, sou Neuropediatra pela Universidade Estadual de Campinas (Unicamp). Com execelência e respeito, meu foco é ajudar o seu filho.
            </h2>
        </div>
        <a  href="http://google.com">
        <div id="schedule">
            <span class="material-icons">
                event
            </span>
            Agende a sua consulta!
        </div>
        </a>
    </div>
    <div id="mila-photo" fxFlex="55">
        <img src="assets/mila_croped.png" alt="Girl in a jacket" width="310" height="400">
    </div>
</div>
<div id="contact" fxLayout fxLayoutAlign="center center">
    Atendimentos
</div>

<div class="info" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div class="care" id="params">
            <div class="titles">
                Neuropediatria
            </div>
            <div fxLayout="collumn" fxLayoutAlign="space-around center">
                <div>
                    <span class="material-icons icons">
                        escalator_warning
                    </span>
                </div>
                <div>
                    asdfasdfasdfasd
                </div>
            </div>
        </div>
        <div class="care" id="keys">
            <div class="titles">
                Consulta
            </div>
            <div fxLayout="collumn" fxLayoutAlign="space-around center">
                <div>
                    <span class="material-icons icons">
                        home
                    </span>
                </div>
                <div>
                    asdfasdfasdfasd
                </div>
            </div>
            <div fxLayout="collumn" fxLayoutAlign="space-around center">
                <div>
                    <span class="material-icons icons">
                        computer
                    </span>
                </div>
                <div>
                    asdfasdfasdfasd
                </div>
            </div>
        </div>

</div>
<div id="contact" fxLayout fxLayoutAlign="center center">
    Contato
</div>

<div class="info" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center">
        <div id="params">
            asdfasdfasdfasdf
        </div>
        <div id="keys">
            asdfasdfasdfasda
        </div>
</div>
<div id="insta-title">
    Siga minhas postagens no Instagram
</div>

<iframe src="https://widget.taggbox.com/52219" id="insta">
<footer>
    Site desenvolvido pelo meu marido: Jonathas Silveira
<footer>

