<!--
<div class="menu" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center">
        <div class="buttons">
            <a>Home</a>
        </div>
        <div class="buttons">
            <a>Blog</a>
        </div>
</div>
-->
<div fxLayout fxLayout.xs="column-reverse" fxLayout.sm="column-reverse" fxLayoutAlign="center"
            fxLayoutGap.xs="0" class="banner" fxLayout="row">
    <div id="mila-description" fxFlex="45" fxLayout="column" fxLayoutAlign="center stretch">
        <div id="name">
            Dra. Camila Silveira
        </div>
        <div id="about">
            <h2>
               Sou médica, formada na Universidade Federal do Piauí, pediatra também pela Universidade Federal do Piauí e neuropediatra pela Universidade Estadual de Campinas (Unicamp).
            </h2>
        </div>
        <a  (click)="openDialog()">
        <div id="schedule">
            <span class="material-icons">
                event
            </span>
            Agende a sua consulta!
        </div>
        </a>
    </div>
    <div id="mila-photo" fxFlex="55">
        <img src="assets/mila_croped.png" alt="Girl in a jacket" width="310" height="400">
    </div>
</div>
<div id="contact" fxLayout fxLayoutAlign="center center">
    Especialidade
</div>

<div class="info"  fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center">
            <div class="meninin" fxFlex="50" fxLayoutAlign="center center">
                <img id="baby" src="assets/meninin.jpg" alt="Girl in a jacket" width="300" height="490">
            </div>
            
            <div class="care" id="params" fxFlex="50">


                    <div style="" class="justified size-jutified text-description line-height">
                    <div class="titles center">
                        Neuropediatria
                    </div>
                    Dou assistência a famílias com crianças com suspeita ou confirmação de alteração neurológica. Meu foco é o diagnóstico e cuidado de crianças com paralisia cerebral. Queixas e diagnósticos comuns em meus atendimentos são:
                    <br>- Atraso do desenvolvimento motor
                    <br>- Movimentos atípicos
                    <br>- Prematuridade
                    <br>- Convulsão febril
                    <br>- Epilepsia
                    <br>- Dor de cabeça
                    <br>- Atraso no desenvolvimento da linguagem
                    <br>- Dificuldade de aprendizagem
                   </div>
           </div>
            
</div>

<div id="contact" fxLayout fxLayoutAlign="center center" style="text-align:center">
    Formas de atendimento
</div>

<div class="info" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center">

            <div class="care" fxLayout="collumn" fxFlex="50" fxLayoutAlign="start center">
                <div>
                    <span class="material-icons icons">
                        home
                    </span>
                </div>
                <div>
                    <div class="titles">
                        Domiciliar
                    </div>
                    <div class="text-description justified">
                        O atendimento domiciliar é uma paixão antiga! É um ambiente muito propício para uma conversa sem pressa, abordando todas as queixas e dúvidas. É também onde conseguimos examinar a criança de forma mais tranquila, já que ali ela se sente segura. É uma excelente forma de começarmos nossa caminhada juntos.
                    </div>
                </div>
            </div>
            <div class="care" fxLayout="collumn" fxFlex="50" fxLayoutAlign="start center">
                <div>
                    <span class="material-icons icons">
                        computer
                    </span>
                </div>
                <div>
                    <div class="titles">
                        Teleatendimento
                    </div>
                    <div class="text-description justified">
  Telemedicina é uma ferramenta muito útil, que rompe muitas barreiras. Muitas condições podem ser avaliadas e diagnosticadas através desse meio, podemos tirar dúvidas e fazer orientações. Mas há ainda muitos casos em que uma consulta presencial é necessária.
                    </div>
                </div>
            </div>
</div>



<div id="contact" fxLayout fxLayoutAlign="center center">
    Contato
</div>

<div class="info" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center" style="padding:10px">
            <span class="material-icons icons" style="margin-right:0px;">
                email
            </span>
        <div id="keys" style="padding: 20px;font-size: large;">
            neurocamilasilveira@gmail.com
        </div>
</div>
<div id="insta-title">
    Siga minhas postagens no Instagram
</div>

<iframe  src="https://widget.taggbox.com/54512" id="insta">

<footer>
    Site desenvolvido pelo meu marido: Jonathas Silveira
<footer>

